/* #region General */
body {
    margin: 0;
    padding: 0;
}

h3 {
    height: 5vh;
}

a {
    position: relative;
    text-decoration: none;
    transition: color .5s;
}

.black,
.black a {
    color: white;
}

.white,
.white a {
    color: black;
}

.right-arrow::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("images/logos/arrow-right.svg") no-repeat;
    background-size: contain;
    margin-left: 10px;
    vertical-align: middle;
}

.left-arrow::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("images/logos/arrow-left.svg") no-repeat;
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
}
footer span::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    /* background: url("images/logos/arrow-left.svg"); */
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
}

/* #region Logos */
.insta {
    background: url("images/logos/insta.svg");
}
/* #endregion Logos */

a::after {
    position: relative;
    top: -.1em;
    display: block;
    content: '';
    border-bottom: solid .2em #800000;
    transform: scaleX(0);
    transition: transform 1s;
    transform-origin: bottom right;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:hover {
    color: #800000;
}

a:hover .right-arrow::after {
    background: url(images/logos/arrow-right-red.svg) no-repeat;
}

a:hover .left-arrow::before {
    background: url(images/logos/arrow-left-red.svg) no-repeat;
}

/* #endregion General */
/* #region Burger */
.burger {
    position: fixed;
    right: 5vw;
    top: 3vw;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    z-index: 999;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #800000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    background: black;
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    background: black;
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* #endregion Burger */
/* #region Sidebar */
#sidebar {
    border-radius: 15px 0 15px 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    background-color: #800000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5vh;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #28282B;
}

/* #endregion Sidebar */

.black,
.white {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.black {
    background-image: url(images/background-designs/design2.png);
    background-color: #28282B;
}

.white {
    background-image: url(images/background-designs/design3.png);
    background-color: white;
}

.divider {
    /* border: 5px solid greenyellow; */
    transform: translate(0, -50%);
    width: 100%;
    backdrop-filter: blur(6px);
    padding: 2vh 0;
}

.left a,
.right a {
    position: relative;
    top: 2em;
    z-index: 999;
}

.left {
    float: left;
    margin-left: 8vw;
    margin-top: 10vw;
    width: 25vw;
    height: 30vh;
    padding: 10px;
}

.right {
    float: right;
    margin-right: 8vw;
    margin-top: 10vw;
    width: 25vw;
    height: 30vh;
    padding: 10px;
}









.slide {
    display: inline-block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideshow-container {
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    position: relative;
    margin: auto;
}

.slideshow-container .left {
    display: inline-block;
    left: 0;
}

.slideshow-container .right {
    display: inline-block;
}

.slideshow-container img {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    aspect-ratio: 16/9;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transform: scale(1);
    transition: all 0.5s ease;
}

.active,
.dot:hover {
    background-color: #800000;
    transform: scale(1.5);
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/* #endregion */