/* #region General */
body {
    margin: 0;
    padding: 0;
}

h3 {
    height: 5vh;
}

a {
    position: relative;
    text-decoration: none;
    transition: color .5s;
}

.black,
.black a {
    color: white;
}

.white,
.white a {
    color: black;
}

/* a::after {
    position: relative;
    top: -.1em;
    display: block;
    content: '';
    border-bottom: solid .2em #800000;
    transform: scaleX(0);
    transition: transform 1s;
    transform-origin: bottom right;
} */

/* a:not(.prev, .next):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

a:hover {
    color: #800000;
}

img:not(a>img) {
    transform: scale(1);
    transition: all .5s;
}

img:not(a>img):hover {
    transform: scale(1.1);
}

a>img {
    display: inline;
    height: 1em;
    padding: 0 .5em;
    transform: translateY(.2em);
}

.white a:hover>img {
    filter: invert(12%) sepia(33%) saturate(7499%) hue-rotate(2deg) brightness(94%) contrast(125%);
}

.black a:hover>img {
    filter: brightness(0) saturate(100%) invert(9%) sepia(77%) saturate(3978%) hue-rotate(353deg) brightness(96%) contrast(116%);
}

#progressContainer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1vh;
    background-color: transparent;
    z-index: 1000;
}

#progressBar {
    display: block;
    height: 100%;
    background: maroon;
    /* border-radius: 0 15px 15px 0; */
}

#toTopButton {
    position: fixed;
    right: 5vw;
    bottom: 10vh;
    background-color: transparent;
    z-index: 999;
}

#toTopButton>img {
    height: 8vh;
    width: auto;
}

/* #endregion General */
/* #region Burger */
.burger {
    position: fixed;
    right: 5vw;
    top: 3vw;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    z-index: 999;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #800000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    background: black;
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    background: black;
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* #endregion Burger */
/* #region Sidebar */
#sidebar {
    border-radius: 15px 0 15px 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    background-color: #800000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5vh;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #28282B;
}

/* #endregion Sidebar */
/* #region Sections */
.black,
.white {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.black {
    background-image: url(images/background-designs/design2.png);
    background-color: #28282B;
}

.white {
    background-image: url(images/background-designs/design3.png);
    background-color: white;
}

.divider {
    /* border: 5px solid greenyellow; */
    transform: translate(0, -50%);
    width: 100%;
    backdrop-filter: blur(6px);
    padding: 2vh 0;
}

.left a,
.right a {
    position: relative;
    top: 2em;
    z-index: 999;
}

.left {
    float: left;
    margin-left: 8vw;
    margin-top: 10vw;
    width: 25vw;
    height: 30vh;
    padding: 10px;
}

.right {
    float: right;
    margin-right: 8vw;
    margin-top: 10vw;
    width: 25vw;
    height: 30vh;
    padding: 10px;
}

/* #endregion Sections */
/* #region Slideshow */
.slide {
    display: inline-block;
}

.slideshow-container {
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    position: relative;
    margin: auto;
}

.slideshow-container .left {
    display: inline-block;
    left: 0;
}

.slideshow-container .right {
    display: inline-block;
}

.slideImage {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    aspect-ratio: 16/9;
    border-radius: 15px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transform: scale(1);
    transition: all 0.5s ease;
}

.active,
.dot:hover {
    background-color: #800000;
    transform: scale(1.5);
}

/* #endregion Slideshow */

footer>.white {
    height: 50vh;
    background-image: url(images/background-designs/design2.png);
}

.row {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.row section {
    display: inline-block;
    font-size: 3vh;
}